body {
  background-color: #f7f7f7;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Quicksand";
  padding: 5% 20% 0% 20%;
  word-wrap: break-word;
}

a:focus {
  text-decoration: underline #ee664b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 50px;
  height: 50px;
}

.App {
  display: grid;
  place-items: center;
}

.WalletInfo,
.ConductTransaction,
.Block {
  width: 50vw;
  padding: 1%;
}

.Block:hover {
  background-color: #f0f0f0;
  transition: all 0.2s ease-out 0s;
}

.Transaction {
  background-color: inherit;
  padding: 1%;
  border: none;
}

.TransactionItem {
  background-color: inherit;
}

.btn {
  background-color: #ee664b;
  color: #fff;
  font-weight: 500;
  border: 1px solid #ee664b;
}

.btn:hover,
.btn:focus {
  background-color: #e95d41;
  border: 1px solid #000;
}

.card {
  margin: 1rem auto;
}

.form-control:focus {
  border: 1px solid #d0d6db;
  box-shadow: none;
}

/* --------- */
/* Scrollbar */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
  z-index: -100;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ee664b85;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee664b;
}
